mn-checkbox {
  position: relative;
  margin: 2.5em .1em 0;
  height: 2em;
  display: inline-block;
  padding-bottom: .5em;

  input {
    display: none;
  }

  input:checked {
    & + .checkbox {
      background: map-get($mn-primary-color, 900);

      &:before {
        left: calc(100% - 1.8em);
      }
    }
  }

  .checkbox {
    display: inline-block;
    width: 3.5em; height: 2em;
    position: relative;
    border-radius: 1em;
    background: map-get($mn-black-color, 200);
    transition: background .2s ease;

    &:before {
      content: '';
      display: inline-block;
      width: 1.6em;
      height: 1.6em;
      background: white;
      position: absolute;;
      left: .2em; top: 50%;
      transform: translate(0, -50%);
      transition: left .2s ease;
      border-radius: 50%;
    }
  }
}
